#!/usr/bin/env zsh
if [[ -f "${HOME}/.aliases.local" ]]; then
    . "${HOME}/.aliases.local"
fi

# Enable aliases to be sudo’ed
alias sudo='sudo '

alias ls='ls --color=auto'
alias la='ls -la'

# Git
alias lg='lazygit'
alias gs='git status'
alias gc='git commit -m' # requires you to type a commit message
alias gp='git pull'
alias grm='git rm $(git ls-files --deleted)'
alias gd='git diff'
alias gl='git log --oneline --stat'

### Neovim aliases
alias v='nvim'
alias vim='nvim'

### Helix aliases
alias h='hx'
