[core]
	excludesfile = ~/.gitignore
	# Treat spaces before tabs, and all kinds of trailing whitespace as an error
	whitespace = space-before-tab,trailing-space
	autocrlf = input
[user]
	name = Mark Keller
	email = 8452750+keller00@users.noreply.github.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[include]
	path = .gitconfig.local
[diff]
	external = difft
